@charset "utf-8";

/*****************全体共通************************/
a {
  text-decoration: none;
}

/*マーカー*/
.marker {    
  background-color: rgba(210, 236, 81, 0.941);     
  display: inline-block;  
}

/*テキスト強調・青*/
.boldblue {
  color: blue;
  font-weight: bold;
}

/*ポインター*/
.pointer {
  cursor: pointer;
}

/*太字に協調したい箇所*/
.bold {
  font-weight: bold;
}

/************************ヘッダーのメニュー************************************/

.menu {
  background-color: rgba(137, 137, 136, 0.5);
}

.menu ul {
  list-style: none; /* リストマーカーを削除 */
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  display: inline-block; /* メニュー項目を横並びに */
  margin-right: 10px; /* 項目間の余白を設定 */
}

.menu a {
  display: block; /* リンクをブロック要素に */
  color: #f0e8e8; /* リンクの文字色を白に */
  text-decoration: none; /* 下線を削除 */
  padding: 10px; /* リンクのパディングを設定 */
  font-size: 13px;
}
/*********************************************************/
/*画面980px以下のヘッダー*/
/*********************************************************/
@media (max-width: 980px) {
  /*表示は縦*/
  .menu {
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 999;
    background-color: rgba(65, 67, 56, 0.8);
    transition: right 0.5s ease-in-out;
}  

.menu.show {
  right: 0;
}

  .menu ul {
    flex-direction: column;
  }

.menu a {
  color: #eee;
}

/*ハンバーガー*/
.hamburger {
  width: 40px;
  height: 32px;
  position: relative;
  left: 90%;
}
.bar1, .bar2, .bar3 {
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  background: #b0adad;
}

/*3本線*/
.bar1 {
  top: 0;
}

.bar2 {
  top: 50%;
  transform: translateY(-50%);
}

.bar3 {
  top: 100%;
  transform: translateY(-100%);
}
/*クリックされたときの3本線*/
.bar1.open {
  top: 50%;
  transform: rotate(45deg);
}
.bar2.open {
  opacity: 0;
}
.bar3.open {
  top: 50%;
  transform: rotate(-45deg);
}

}

/************************************************************/
h1 {
    text-align: center;
    color: blue;
}

.container {
    margin: 0 auto;    
}

/*************************もくじ*********************************/
.navtitle {
  display: flex;
}

h2 {
  color: aqua;
  font-weight: bold;
  border-bottom:1px solid #53dbf3;
  text-align: left;
  width: 100%;
  justify-content: space-between
  
}
/*トップ画面のもくじ*/
.main_nav {
    text-align: center;    
}

.main_nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  text-decoration-style: none;
  list-style-type : none; 
}

.main_nav li {
  background-color: rgb(130, 250, 204);
  width: 300px;
  height: 150px;
  display: flex;
  flex: wrap;  
  align-items: center; 
}

/*コンテンツのもくじ*/
nav ul {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    gap: 5px;
    width: 90%;
    margin: 0 auto;
    text-decoration-style: none;
    list-style-type : none; 
    
}

nav li {
  /* background-color: rgb(130, 250, 204);
  width: 300px;
  height: 150px;
  display: flex; */
  flex: wrap;  
  /* align-items: center;  */
  border-bottom: 2px solid #c9f1c9;
}

li a {
  display: block; 
  flex-basis: 95%;
  color: rgb(3, 31, 37);
  font-weight: bold;
  font-size: 20px; 
  height: 45px;
  
}

/*************************もくじを縦にする*********************************/
.vertical {
  flex-direction: column;
}

/*********************吹き出し 全体**********************/
.chat {
  margin-bottom: 2em;
  position: relative;
  display: flex;
  align-items: center;
}

.chat.r {
  flex-direction: row-reverse;
}

.chat:before, .chat:after {
  clear: both;
  content: '';
  display: block;
}

/*アイコン*/
.chat figure {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.chat-icon-saru-left, .chat-icon-usa-left {
  float: left;
  margin-right: 20px;
}

.chat-icon-usa-right, .chat-icon-saru-right {
  float: right;
  margin-right: 20px;
}

.chat figure img {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 2px solid #aaaaaa;
  border-radius: 50%;
}

/*吹き出しのセリフ部分*/
.chat-talk-left, .chat-talk-left-ye, .chat-talk-right, .chat-talk-right-bu {
  position: relative;
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  max-width: calc(100% - 80px);
  /* flex-grow: 1; */
  min-width: 0;
}

.chat p {
  margin: 0;
}

.chat p:last-child {
  margin: 0;
}

/*****************吹き出し　左・青***************************/

/*吹き出し（左・青）*/
.chat-talk-left {
  float: left;
  border-width: 2px;
  border-color: rgb(161, 220, 243);
  background: rgb(161, 220, 243);
}

/*吹き出し（左・青）三角*/
.chat-talk-left:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid rgb(161, 220, 243);
  top: 15px;
  left: -22px;
}

.chat-talk-left:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid rgb(161, 220, 243);
  top: 15px;
  left: -19px;
}

/*****************吹き出し　左・黄色***************************/

/*吹き出し（左・黄色）*/
.chat-talk-left-ye {
  float: left;
  border-width: 2px;
  border-color: khaki;
  background: khaki;
}

/*吹き出し（左・黄色）三角*/
.chat-talk-left-ye:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid khaki;
  top: 15px;
  left: -22px;
}

.chat-talk-left-ye:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid khaki;
  top: 15px;
  left: -19px;
}

/*****************吹き出し　右・青***************************/

/*吹き出し（右・青）*/
.chat-talk-right-bu {
  float: right;
  border-width: 2px;
  border-color: rgb(161, 220, 243);
  background: rgb(161, 220, 243);
}

/*吹き出し（右・青）三角*/
.chat-talk-right-bu:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid rgb(161, 220, 243);
  top: 15px;
  right: -22px;
}

.chat-talk-right-bu:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid rgb(161, 220, 243);
  top: 15px;
  right: -19px;
}

/*****************吹き出し　右・黄色***************************/

/*吹き出し（右・黄色）*/
.chat-talk-right {
  float: right;
  border-width: 2px;
  border-color: khaki;
  background: khaki;
}

/*吹き出し（右・黄色）三角*/
.chat-talk-right:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid khaki;
  top: 15px;
  right: -22px;
}

.chat-talk-right:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid khaki;
  top: 15px;
  right: -19px;
}

/*カウントダウンタイマー完成画面*/
.sample {
    text-align: center;
}

.sample .today, .sample .timer {
  font-size: xx-large;
}

/*マウスオーバーしたら解説が現れる*/
.chat-talk-left-ye {
  position: relative;
}

.chat-talk-left-ye:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.comme {
    text-decoration: underline;
    cursor: pointer;
}

.tooltip {    
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #fefafa;
  color:  red;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  white-space: nowrap;
  font-size: small;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #fefafa transparent transparent transparent;
}

.hidden {
    display: none;
}

/*コードの装飾?*/
/* li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
	list-style-type: decimal !important;
} */

/*「書式」の装飾*/
samp {
    background-color: #eee;
    color: blue;
    padding: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
  }  
  
.format {
    color: rgb(83, 28, 9);
    position: relative;
    padding: 20px 20px 20px 40px;
    margin: 20px;
    background-color: #f8f8f8;
    border-radius: 50px;
}

/*マウスマーク*/
.fa-computer-mouse {
  color: #c312ef;
  margin: 0 5px;
}

/*引用・メソッド説明の装飾*/
.support {
  font-size: 15px;
  color: #333;
}

blockquote{
  position:relative;
  border-left:3px solid #DA8596;
  padding-left:10px;
  color: #DA8596;
  font-weight: bold;
}
blockquote:before{  
  left: -30px;
  position:absolute;
  font-family:'FontAwesome';
  content:'\f10d';
  font-size: 20px;
  color:#DA8596;
}
blockquote .samp{
  position:relative;
  padding-left:30px;
}
blockquote cite{  
  font-size:0.8rem;
  color:#f39f78;
  text-align:right;
}

/*ちょっと脳トレタイトルの装飾*/
.thinking, .close-container {
	position: relative;
	padding: 0.5em 0.75em;
	border: solid 1px #27acd9;
	border-left: solid 2.5em #27acd9;
  margin-bottom: 10px;
  font-size: large;
  color: #0c98f4;
}

.thinking:before, .close-container:before {
	position: absolute;
	font-family: "Font Awesome 5 Free";
	content: "\f0eb";
	font-weight: 900;
	color: #fff;
	padding: 0;
	left: -1.6em;
	top: 50%;
	transform: translateY(-50%);
}

.close-button {
  border: none;
  outline: none;
  font-size: large;
  font-weight: bold;
  color: #0c98f4;
}

/*脳トレ問題文*/
.format {
    font-family: sans-serif;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
  }
  
  .format p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .format samp {
    display: block;
    margin: 10px 0;
  }
  
  .format .que {
    font-weight: bold;
  }
  
  .format .ans {
    font-weight: bold;
    color: red;
  }

  .info {
    font-size: small;
  }

  /*脳トレ・ファンクションAB*/
  .box-container {
    display: flex;
  }
  
  .box {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }  
  
  /*フッター*/
  footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #555;

  }

  /*プルダウン*/
#form {
  margin-bottom: 10px;
  text-align: center;
}
  
  /*プルダウン装飾*/
#form select {
  width: 200px;
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(0, 6, 8);
  background-color: rgb(213, 252, 205);
  border: 1px solid rgb(247, 251, 252);
  border-radius: 10px;
  padding: 5px;
  outline: 2px solid rgb(3, 93, 57);
}

/*プロフィール画像*/
section img {
  max-width: 100%;
}

.center {
  margin: 0 auto;
  max-width: 90%;
  width: 500px;
}

#bigimg {
  height: 350px;
  width: 500px;
}

ul.line {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 10px;
}

li {
  flex: 1 1 auto;
  /* margin-right: 8px; */
  max-height: 200px;
  overflow: hidden;
}

li img {
  width: auto;
  height: 100%;
}

li:last-of-type {
  margin-right: 0;
}

section ul li {
  margin-bottom: 10px;
}

/******************スライドショー***********************************/
.slide {
  margin: 0 auto;
  border: 1px solid black;
  width: 720px;
  background-color: black;
}

#main_img {
  max-width: 100%;
}

.toolbar {
  overflow: hidden;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

/* #prev {
  margin-right: 0.5rem;
  width: 16px;
  height: 16px;
  background: url(images/arrow-left.svg) no-repeat;
}

#next {
  margin-right: 0.5rem;
  width: 16px;
  height: 16px;
  background: url(images/arrow-right.svg) no-repeat;
} */


/*************************************************************/
/*スマホ用*/
/*************************************************************/

@media (max-width: 600px) {
  /*ヘッダー*/
  .menu li {
    display: block; /*メニュー項目を縦並びに*/
  }


}